.container {
  margin-left: 1%;
  margin-right:1XZ%;
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.table td {
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
}

.thumbnails {
  height: 70%;
}